.likes_collection_track {
    width: 180px;
    height: 276px;
    border-radius: 6px;
    margin-top: 8px;
    margin-right: 25px;
}

.likes_collection_track:nth-of-type(6n) {
    margin-right: 0px;
}

.likes_collection_image {
    width: 180px;
    height: 180px;
    border-radius: 6px;
    user-select: none;
}

.likes_collection_list {
    width: 1208px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.likes_collection_info_like_icon_and_name {
    display: flex;
    padding: 2px;
    align-items: center;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.likes_collection_info_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.likes_collection_real_functions {
    display: flex;
    align-items: center;

}

.likes_collection_real_functions_view {
    display: flex;
    width: 96px;
    height: 32px;
    justify-content: space-between;
    margin-left: 8px;
}

.likes_collection_real_functions_view_badges {
    width: 40px;
    height: 32px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.likes_collection_real_functions_view_list {
    width: 40px;
    height: 32px;
    background-color: hotpink;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.likes_collection_real_functions_filter {
    width: 306px;
    height: 36px;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: #242729;
    color: #fff;
    margin-left: 15px;
}

.likes_collection_info_name {
    margin-left: 6px;
}

.likes_collection_image_img {
    width: 100%;
    height: 180px;
    border-radius: 6px;
    cursor: pointer;
}

.likes_collection_image_mouseOn {
    width: 180px;
    height: 180px;
    position: relative;
    margin-top: -185px;
    z-index: 212121;
    border-radius: 6px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.likes_collection_image:hover .likes_collection_image_mouseOn {
    display: flex;
}

.likes_collection_image_mouseOn_pause_btn {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20302302302302;
}

.likes_collection_image_mouseOn_options {
    width: 130px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: right;
    right: -20px;
    margin-right: 10px;
    z-index: 1000;
}

.likes_collection_image_mouseOn_options_block {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.likes_collection_info_artist {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

