.header {
    width: 100%;
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content: center;
    left: 0;
}

.header_content {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seacrhTrackInput {
    width: 420px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #1e2122;
    outline: none;
    padding: 5px;
    padding-left: 16px;
    font-family: "proximanova_light";
    letter-spacing: 1px;
}

.search_block {
    width: 425px;
    background-color: #000;
    position: absolute;
    top: 50px;
    max-height: 300px;
    overflow: scroll;
    margin-left: 280px;
    z-index: 12123223221;
    border-radius: 6px;
    overflow-x: hidden;
}

.header_navbar {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #a8a095;
}

.header_navbar:hover {
    color: #fff;
}

.searchTitle {
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
}

.searchTitle:hover .searchTrackOption_item {
    background-color: rgb(38, 42, 44);
}

.searchTitle:hover {
    background-color: #242729;
}

.searchedTrackImage {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.searchTrackOption {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 6px;
}

.searchTrackOption_item {
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    padding: 0px 20px;
    margin-left: 300px;
    margin-bottom: 9px;
}

.searchTrackOption_item:hover {
    opacity: 0.7;
}

.searchedTrackInfo {
    margin-left: 30px;
    margin-top: 6px;
}

.searchedTrackPlaybtn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.searchedTrackPlaybtn:hover {
    opacity: 0.65;
}
