@font-face {
    font-family: "proximanova_black";
    src: url(./assets/fonts/proximaNova/proximanova_black.otf);
}

@font-face {
    font-family: "proximanova_blackit";
    src: url(./assets/fonts/proximaNova/proximanova_blackit.otf);
}

@font-face {
    font-family: "proximanova_bold";
    src: url(./assets/fonts/proximaNova/proximanova_bold.otf);
}

@font-face {
    font-family: "proximanova_boldit";
    src: url(./assets/fonts/proximaNova/proximanova_boldit.otf);
}

@font-face {
    font-family: "proximanova_extrabold";
    src: url(./assets/fonts/proximaNova/proximanova_extrabold.otf);
}

@font-face {
    font-family: "proximanova_light";
    src: url(./assets/fonts/proximaNova/proximanova_light.otf);
}

@font-face {
    font-family: "proximanova_regular";
    src: url(./assets/fonts/proximaNova/proximanova_regular.ttf);
}

a {
    color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: "proximanova_bold";
}

body, html {
    background-color: #181a1b;
}

ul {
    list-style: none;
}


#root {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #181a1b;
    min-height: 100vh
}

.App {
    width: 1240px;
}